In [13]:
x = input()
y = input()
print(x + y + x)

*
654
*654*

In [14]:
n = input()
a = '*****'
b = '*'

print(a)
print(b + n + b)
print(a)

666
*****
*666*
*****

1 5 10 
25 

120
n

In [21]:
n = int(input())

ans = 0
while n != 0:
    ans += n // 25
    n = n % 25
    
    ans += n // 10
    n = n % 10
    
    ans += n // 5
    n %= 5
    
    ans += n
    n = 0
    
print(ans)

5
1

In [22]:
a = int(input())
b = int(input())

print(a + b)

2
3
5

In [28]:
a, b, c, d = map(int, input().split())
print(a + b + c + d)

1 2 3 4
10

In [32]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    for 
    print()

5
1
12
123
1234
12345

In [36]:
a, b = map(int, input().split())
print(str(a) + '+' + str(b) + '=' + str(a + b))

3 4
3+4=7

In [42]:
a, b = map(int, input().split())
print(f'{a}+{b}={a + b}')

3 5
3 + 5 = 8

In [46]:
n = int(input())

s = 0
c = 0
p = 1
while n != 0:
    s += n % 10
    p *= n % 10
    n //= 10
    c += 1
    
print(s)
print(c)
print(p)
print(s / c)

5678
26
4
1680
6.5

In [50]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    for j in range(i - 1, 0, -1):
        print(j, end='')
    print()

5
1
121
12321
1234321
123454321

In [51]:
a = 1345
print(a * 2)

2690

In [52]:
b = str(a)
print(b * 2)

13451345

In [53]:
print(len(b))

4

In [57]:
print('!' if '5' in b else '?')

!

In [58]:
a = input()
b = input()
c = input()

if len(a) > len(b):
    a, b = b, a
if len(a) > len(c):
    a, c = c, a
if len(b) > len(c):
    b, c = c, b
    
print(a)
print(c)

Москва
Санкт-Петербург
Екатеринбург
Москва
Санкт-Петербург

In [64]:
# "Python is a great language!", said Fred. "I don't ever remember having this much fun before."
a = '"Python is a great language!", said Fred. "I '
b = "don't "
c = 'ever remember having this much fun before."'
print(a + b + c)

"Python is a great language!", said Fred. "I don't ever remember having this much fun before."

In [69]:
m = int(input())
n = int(input())

for i in range(m, n + 1):
    if i % 17 == 0 or i % 10 == 9 or (i % 3 == 0 and i % 5 == 0):
        print(i, end=' ')

3
30
9 15 17 19 29 30

In [70]:
mx1 = 0
mx2 = 0
for i in range(int(input())):
    x = int(input())
    if x > mx1:
        mx2 = mx1
        mx1 = x
    elif x > mx2:
        mx2 = x
        
print(mx1, mx2, sep='\n')

8
 9
 7
5
4
3
2
78
1
78
9

In [72]:
a = int(input())
b = int(input())
c = int(input())

if a > b:
    a, b = b, a
if a > c:
    a, c = c, a
if b > c:
    b, c = c, b
    
if b - a == c - b:
    print('YES')
else:
    print('NO')

3
1
2
YES

In [76]:
s = '456789765436'

x = input()
if x in s:
    print('YES')
else:
    print('NO')

566
NO

In [77]:
s = input()

if '@' in s and '.' in s:
    print('YES')
else:
    print('NO')

aaaa@bbb.com
YES

In [98]:
n = int(input())

h = n // 60
m = n % 60

print(f'{n} мин - это {h} час {m} минут.')

250
250 мин - это 4 час 10 минут.

In [101]:
t = int(input())

if t <= 13:
    print('детство')
elif 13 < t <= 24:
    print('молодость')
elif 24 < t <= 59:
    print('зрелость')
else:
    print('старость')

94
старость

In [102]:
a = int(input())
b = int(input())

res = 0
for i in range(a, b + 1):
    if i ** 3 % 10 in (4, 9):
        res += 1
        
print(res)

1
100
20

$a_1 = 4$  
$d = 10$  

$a_2 = a_1 + d = 14$  
$a_3 = a_2 + d = 24$  
$a_4 = a_3 + d = 34$

In [103]:
x = 4
d = 10
for i in range(15):
    print(x, end=' ')
    x = x + d

4 14 24 34 44 54 64 74 84 94 104 114 124 134 144

In [110]:
a = input()
b = input()
c = input()

a = len(a)
b = len(b)
c = len(c)

if a > b:
    a, b = b, a
if a > c:
    a, c = c, a
if b > c:
    b, c = c, b
    
if b - a == c - b:
    print('YES')
else:
    print('NO')

2434
90099
21
NO

In [ ]:
a = int(input())